/*==================================
    VARIABLES DE DISEÑO
====================================*/
:root{
/*PALETA DE COLORES*/
--colorPrimario-fondo: #395fac;
--colorSecundario-escena : #b7f0f9;
--colorAcento : #e2e2e2;
--colorBotones: #0ffff8;
--colorTitulos-h2:white; 
--colorTitulos-h1:#102547;

/*TIPOGRAFIA Y TAMAÑOS*/
--font-family-primary: Arial, sans-serif;
--font-size-title-h1: 2rem;
--font-size-title-h2: 1rem;
--font-size-p: 1.2rem;


/* ESPACIADOS Y MARGENES */
--size-padding-5px : 5px;
--size-padding-10px : 10px;
--size-paddig-20px : 20px;


--margin-button-10px : 10px;
--margin-button-15px : 15px;
--margin-top-10px : 10px;


}

/*==================================
  ESTILOS GENERALES Y LAYOUT
====================================*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family-primary);
}

body{
    background-color: var(--colorPrimario-fondo);
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: var(--size-paddig-20px);
    min-height: 100vh;
    height: 100vh;
    overflow: hidden;
}


h1 {
    text-align: center;
    margin-bottom: var(--margin-button-10px);
    color: var(--colorTitulos-h2);
    font-size: var(--font-size-title-h1);
}

h2, h3{
    color:var(--colorTitulos-h1);
    text-align: center;
    font-size: var(--font-size-title-h2);
}

.nombre-jugador{
    text-align: center;
}

main{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    flex-grow: 1;
    overflow-y: auto;
    padding-bottom: 20px;
}

/* =====ESCENAS ===== */
.scene{
    background-color: var(--colorSecundario-escena);
    flex-direction: column;
    align-items: center;
    display: none;
    padding: 20px 20px;
}

.scene.active{
    display: flex;
}

/* =====FORMULARIO ===== */
.formulario-crear-jugador{
    color: var(--colorTitulos-h1);
}
.formulario-crear-jugador label{
    display: flex;
    padding: var(--size-padding-5px);
}

.formulario-crear-jugador input{
     border: 1px solid #ccc;
     max-width: 200px;
     text-align: center;

}

.container-formulario{
    border: 2px solid  #395fac;
    background-color: var(--colorAcento);
     box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}
/* =====IMAGEN ===== */
.img-container img{
    width: 150px;
}


input#nombre-jugador,#ataque-input,#defensa-input,#vida-input{
    padding: 2px 5px;
    border-radius: 5px;
    text-align: center;

}



.boton-crear, 
.continuar-mercado {
   margin-bottom: var(--margin-button-10px);
   margin-top: var(--margin-top-10px);
   background-color: var(--colorBotones);
   padding: var(--size-padding-5px);
   border: none;
   border-radius: 5px;
   cursor: pointer;
   transition: 0.3s;
   display: block;

   width: fit-content;
   margin-left: auto;
   margin-right: auto;
}

.boton-crear:hover, .continuar-mercado:hover{
    background-color: var(--colorPrimario-fondo);
}

/* =====TABLA DE ESTADO INICIAL DEL JUGADOR===== */
.stats-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px; 
    margin-top: 2px;

}

.stat-box{
    background-color: var(--colorAcento);
    padding: var(--size-padding-10px);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);

}