/*==================================
    VARIABLES DE DISEÑO
====================================*/
:root{
/*PALETA DE COLORES*/
--colorPrimario-fondo: #395fac;
--colorSecundario-escena : #b7f0f9;
--colorAcento : #e2e2e2;
--colorBotones: #0ffff8;
--colorTitulos-h2:white; 
--colorTitulos-h1:#102547;

/*TIPOGRAFIA Y TAMAÑOS*/
--font-family-primary: Arial, sans-serif;
--font-size-title-h1: 2rem;
--font-size-title-h2: 1rem;
--font-size-p: 1.2rem;
--font-size-p2: 1.1rem;
--font-size-p3: 1.5rem;
--font-size-p4: 1.8rem;



/* ESPACIADOS Y MARGENES */
--size-padding-5px : 5px;
--size-padding-10px : 10px;
--size-padding-15px : 15px;
--size-paddig-20px : 20px;
--size-padding-30px : 30px;

--margin-button-2px : 2px;
--margin-button-5px : 5px;
--margin-button-10px : 10px;
--margin-button-15px : 15px;
--margin-button-20px : 20px;


--margin-top-10px : 10px;
--margin-top-20px : 20px;
--margin-top-30px : 30px;
--margin-top-100px : 100px;


}

/*==================================
  ESTILOS GENERALES Y LAYOUT
====================================*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family-primary);
}

body{
    background-color: var(--colorPrimario-fondo);
    display: flex;
    flex-direction: column; 
    height: 100vh;
    overflow-y: auto;
    margin: 0;
    padding: 0;
}


h1 {
    text-align: center;
    margin-bottom: var(--margin-button-10px);
    color: var(--colorTitulos-h2);
    font-size: var(--font-size-title-h1);
    margin-top: 10px;
}

h2, h3{
    color:var(--colorTitulos-h1);
    text-align: center;
    font-size: var(--font-size-title-h1);
}


.nombre-jugador{
    text-align: right;
    flex-grow: 1;
    margin: 0;
    font-weight: bold;
    font-size: var(--font-size-p3);
    color: var(--colorTitulos-h1);
}

.nombre-jugador-escena4{
    text-align: center;
    padding: 10px;
    font-size:x-large;
    font-weight: bold;
    color: var(--colorTitulos-h1);
    
}

main{
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    height: 75vh;
    
}

/* =====ESCENAS ===== */
.scene{
    position: relative;
    background-color: var(--colorSecundario-escena);
    flex-direction: column;
    align-items: center;
    display: none;
    padding: 20px 20px;
}

.scene.active{
    display: flex;
}

.scene1-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-height: 120px;
    padding: 0 40px;
    margin-bottom: 0;
}

.scene1-container img{
    width: 130px;
    height: auto;
}


/* =============FORMULARIO ============= */

.input-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    align-items: flex-start;
}

.input-group label{
    font-size: 0.9rem;
    margin-bottom: 2px;
    font-weight: bold;
    
}

.input-group input{
    width: 100%;
    max-width: none;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    padding: var(--size-padding-10px);
    font-size: var(--font-size-title-h2);
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);
}
.container-formulario{
    border: none;
    background-color: transparent;
    box-shadow: none;
    max-width: 400px;
    margin: 0 auto;
}

/* ==============IMAGENES ================ */

/*Imagenes productos */
.card-producto img{
    width: 80px;
    height: 80px;
    object-fit: contain;
    margin-bottom: var(--margin-button-5px);
   
}

/*Imagen Monedero */
#monedero-container {
    position: fixed;
    left: 2vw; 
    bottom: 1vh; 
    width: 100px;
    z-index: 100; 

    display: flex;
    align-items: center;
    justify-content: center;
}

#monedero-container img{
    width: 100%;
    height: auto;
    display: block;
}

#dinero-actual{
    position: absolute;
    margin-top: 5px;
}

.monedero-animado{
    animation: slideInMonedero 1.5s ease-out forwards;
}

@keyframes slideInMonedero {
    from {
        transform: translateX(-200%) rotate(-20deg);
        opacity: 0;
    }

    to {
        transform: translateX(0) rotate(0deg);
        opacity: 1;
    }
}
/* ==============NOMBRE DEL JUGADOR ================ */

input#nombre-jugador,#ataque-input,#defensa-input,#vida-input{
    padding: 2px 5px;
    border-radius: 5px;
    text-align: center;

}

/* ==============BOTONES================ */
.boton-crear, 
.continuar-mercado, .btn-comprar,
 .continuar-enemigos, .continuar-batalla {
   margin-bottom: var(--margin-button-20px);
   margin-top: var(--margin-top-10px);
   background-color: var(--colorBotones);
   padding: var(--size-padding-5px);
   border: none;
   border-radius: 5px;
   cursor: pointer;
   transition: 0.3s;
   display: block;

   font-weight: bold;

   width: fit-content;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: var(--margin-button-20px);
}

.boton-crear:hover, .continuar-mercado:hover,
.btn-comprar:hover, .continuar-enemigos:hover,
.continuar-batalla:hover {
    background-color: var(--colorPrimario-fondo);
}

.btn-añadir{
    position: absolute;
    bottom: 15px;
    background-color: #0ffff8;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: transform 0.2s;
}

.btn-añadir:hover{
    background-color:var(--colorPrimario-fondo);
}


/* =====TABLA DE ESTADO INICIAL DEL JUGADOR===== */
.stats-container-final{
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 15px;           
    margin-top: 5px;

}

.stat-row{
    display: flex;
    justify-content: center;
    gap: 15px;
    width: 100%;

}

.stat-box-final{
    width: 280px;        
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    text-align: center;
    font-weight: bold;
    font-size: 1.1rem;
    border: 1px solid #ffffff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);

}


/* =====Tartejas Mercado de productos===== */
#market-container{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.card-producto{
    flex: 0 0 150px;
    padding: var(--size-padding-15px);
    border-radius: 8px;

    width: 200px;
    min-height: 250px;

    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;

    transition: transform 0.2s;
    
}

.card-producto:hover{
    transform: scale(1.05);
}


.card-producto.selected{
    background-color:gold;
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

/* =====Texto dentro de las tarjeta de productos===== */
.info-producto {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    width: 100%;
    text-align: center;
}

.prod-nombre{
    color: #102547;
    font-size: var(--font-size-p2);
    margin-bottom: var(--margin-button-5px);
    display: block;

}

.prod-tipo{
    display: inline-block;
    color: #3d0476;
    padding: 2px 10px;
    font-size: 0.95rem;
    margin-bottom: 8px;
}

.prod-precio{
    font-size: var(--font-size-title-h2);
    font-weight: bold;
}


/* =====FOOTER===== */
footer{
    height: 150px;
    width: 100%;

    background-color:var(--colorPrimario-fondo);
    z-index: 10;/* Asegura que siempre esté por encima */

    border-top: 4px solid var(--colorPrimario-fondo);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--size-padding-5px);

    flex-shrink: 0; /*Impide que el footer se encoja si el main crece */
    
}

#inventory-container{
    display: flex;
    gap: 10px;
    width: auto;
    height: 80px;
}

.inventory-slot{
    width: 80px;
    height: 80px;
    flex: 1;
    background-color: var(--colorSecundario-escena);
    border: 5px solid var(--colorTitulos-h1);
    aspect-ratio: 1 / 1;
    transition: transform 0.2s;
}

.inventory-slot:hover{
    transform: scale(1.05);
}

/* =====TARJETA DE ENEMIGOS===== */
.lista-enemigos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: var(--margin-top-20px);
}

.card-enemigo{
    width: 180px;
    padding: var(--size-padding-10px);
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    border-radius: 10px;
    text-align: center;
    transition: transform 0.2s;
}

.card-enemigo:hover {
    transform: scale(1.05);
}

.card-enemigo img{
    width: 120px;
    height: 120px;
    object-fit: contain;
}

/* =====AREA BATALLA DE JUGADOR Y ENEMIGOS===== */
.battle-area{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: var(--size-paddig-20px);
    overflow: hidden;
}

.battle-card{
    background: white;
    padding: var(--size-paddig-20px);
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    text-align: center;
    transition: transform 0.8s ease-out, opacity 0.8s ease-in;
}

.battle-card.player{
    transform: translateX(-100vw);
}

.battle-card.enemy{
    transform: translateX(100vw);
}

.battle-card.animate-in {
    transform: translateX(0);
    opacity: 1;
}


.battle-card img{
    width: 120px;
    height: 120px;
}

/* =====RESULTADO FINAL DEL JUGADOR (VETERANO O NOVATO)===== */
#final {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: flex-start;
    text-align: center;
}

.info-final-container{
    margin-top: 70px;
    padding: var(--size-padding-30px);
    width: 80%;
    max-width: 600px;
}

.final-text{
    font-size: var(--font-size-p3);
    line-height: 2;
    color: #102547;
}

.rango-badge{
    display: inline-block;
    padding: 10px 20px;
    border-radius: 50px;
    font-weight: bold;
    margin: 10px 0;
    font-size: var(--font-size-p4);
}

.veterano{
    background-color: #f9a825;
    color: white;
    box-shadow: 0 0 15px rgba(249, 168, 37, 0.5);
}

.novato{
    background-color: #757575;
    color: white;
} 

/* =====ANIMACION DE LAS MONEDAS AL GANAR===== */
.moneda-animada{
    position: fixed;
    top: -100px;
    width: 60px;
    z-index: 9999;
    pointer-events: none;
    height: 60px;
    animation: bajarYRotar 1s linear forwards;
}

@keyframes bajarYRotar {
    0% {
        top: -100px;
        transform: rotateY(0deg);
        opacity: 1;
    }

    70% {
        opacity: 1;
    }

    100% {
        top: 50%;
        transform: rotateY(360deg);
        opacity: 0;
    }
}


/* =====TABLA RANKING FINAL===== */
.tabla-ranking {
    margin: 20px auto;
    border-collapse: collapse;
    width: 50%;
    max-width: 600px;
}

.tabla-ranking th{
    padding: 12px;
    color: #102547;
    border: 1px solid #102547;
    background-color:#f9a825;
}

.tabla-ranking td{
    padding: var(--size-padding-10px);
    border: 1px solid #102547;
    text-align: center;
    background-color:white;
}

.tabla-ranking tr:nth-child(even) {
    background-color: var(--colorSecundario-escena);
}

/* =====BOTON MOSTRAR TABLA POR CONSOLA===== */
.btn-consola {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}




/*=======================================
  DISEÑO RESPONSIVE : TABLETS (Max 768px)
=========================================*/
@media screen and (max-width: 768px){
    main{
        width: 95%;
        height: auto;
    }

    #monedero-container{
        width: 80px;
        left: 10px;
    }

    .stat-box-final{
        width: 45%;
        font-size: 0.9rem;
    }

    .scene1-container {
        padding: 0 20px;
    }
    


}

/*=======================================
  DISEÑO RESPONSIVE: MÓVILES (Max 480px)
=========================================*/
@media screen and (max-width: 480px){
    body {
        overflow-y: auto; 
    }

    #monedero-container{
        width: 60px;
        left: 5px;
        padding: 5px;
        bottom: 180px;
    }

    #dinero-actual {
        font-size: 0.8rem;
        font-weight: bold;
    }

    .scene1-container {
        flex-direction: column;
        max-height: none;
        padding: 10px;
        gap: 5px;
    }

    .scene1-container img {
        width: 100px;
    }

    .nombre-jugador {
        text-align: center;
        font-size: 1.4rem;
    }

   .stat-row {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .stat-box-final {
        width: 90%;
        height: 60px;
    }

    #inventory-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 8px;
        height: auto;
    }

    .inventory-slot {
        width: 55px;
        height: 55px;
    }

    .card-producto {
        flex: 1 1 140px;
        min-height: 200px;
    }

    footer {
        height: auto;
        padding: 15px 5px;
    }

    

    

    #monedero-container {
        width: 60px;
        bottom: 80px;
    }

    .info-final-container {
        margin-top: 20px;
        width: 95%;
    }

    .rango-badge {
        font-size: 1.2rem;
    }

    .tabla-ranking {
        width: 100%;
        font-size: 0.8rem;
    }
}