/*==================================
    VARIABLES DE DISEÑO
====================================*/
:root{
/*PALETA DE COLORES*/
--colorPrimario-fondo: #395fac;
--colorSecundario-escena : #b7f0f9;
--colorAcento : #e2e2e2;
--colorBotones: #0ffff8;
--colorTitulos-h2:white; 
--colorTitulos-h1:#102547;

/*TIPOGRAFIA Y TAMAÑOS*/
--font-family-primary: Arial, sans-serif;
--font-size-title-h1: 2rem;
--font-size-title-h2: 1rem;
--font-size-p: 1.2rem;


/* ESPACIADOS Y MARGENES */
--size-padding-5px : 5px;
--size-padding-10px : 10px;
--size-padding-15px : 15px;
--size-paddig-20px : 20px;

--margin-button-2px : 2px;
--margin-button-5px : 5px;
--margin-button-10px : 10px;
--margin-button-15px : 15px;
--margin-button-20px : 20px;


--margin-top-10px : 10px;
--margin-top-30px : 30px;


}

/*==================================
  ESTILOS GENERALES Y LAYOUT
====================================*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family-primary);
}

body{
    background-color: var(--colorPrimario-fondo);
    display: flex;
    flex-direction: column; 
    height: 100vh;
    overflow: hidden;
    margin: 0;
}


h1 {
    text-align: center;
    margin-bottom: var(--margin-button-10px);
    color: var(--colorTitulos-h2);
    font-size: var(--font-size-title-h1);
}

h2, h3{
    color:var(--colorTitulos-h1);
    text-align: center;
    font-size: var(--font-size-title-h2);
}

.nombre-jugador{
    text-align: center;
}

main{
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}

/* =====ESCENAS ===== */
.scene{
    background-color: var(--colorSecundario-escena);
    flex-direction: column;
    align-items: center;
    display: none;
    padding: 20px 20px;
}

.scene.active{
    display: flex;
}

/* =============FORMULARIO ============= */

.input-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    align-items: flex-start;
}

.input-group label{
    font-size: 0.9rem;
    margin-bottom: 2px;
    font-weight: bold;
    
}

.input-group input{
    width: 100%;
    max-width: none;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    padding: var(--size-padding-10px);
    font-size: var(--font-size-title-h2);
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);
}
.container-formulario{
    border: none;
    background-color: transparent;
    box-shadow: none;
    max-width: 400px;
    margin: 0 auto;
}

/* ==============IMAGENES ================ */

/* imagen jugador*/
.img-container img{
    width: 150px;
}

/*Imagenes productos */
.card-producto img{
    width: 80px;
    height: 80px;
    object-fit: contain;
    margin-bottom: var(--margin-button-5px);
   
}

/*Imagen Monedero */



/* ==============NOMBRE DEL JUGADOR ================ */

input#nombre-jugador,#ataque-input,#defensa-input,#vida-input{
    padding: 2px 5px;
    border-radius: 5px;
    text-align: center;

}

/* ==============BOTONES================ */
.boton-crear, 
.continuar-mercado {
   margin-bottom: var(--margin-button-10px);
   margin-top: var(--margin-top-10px);
   background-color: var(--colorBotones);
   padding: var(--size-padding-5px);
   border: none;
   border-radius: 5px;
   cursor: pointer;
   transition: 0.3s;
   display: block;

   width: fit-content;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: var(--margin-button-20px);
}

.boton-crear:hover, .continuar-mercado:hover{
    background-color: var(--colorPrimario-fondo);
}

/* =====TABLA DE ESTADO INICIAL DEL JUGADOR===== */
.stats-container-final{
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 15px;           
    margin-top: var(--margin-top-30px);

}

.stat-row{
    display: flex;
    justify-content: center;
    gap: 15px;
    width: 100%;

}

.stat-box-final{
    width: 280px;        
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    text-align: center;
    font-weight: bold;
    font-size: 1.1rem;
    border: 1px solid #ffffff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);

}

/* =====Notificacion de descuento aleatorio===== */
.descuento-notificacion{
    text-align: center;
    font-size: var(--font-size-p);
    color: var(--colorTitulos-h1);
    padding: var(--size-padding-10px);
    margin-bottom: var(--margin-button-20px);
    background-color: #e3c7ff;
}

/* =====Tartejas Mercado de productos===== */
#market-container{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.card-producto{
    flex: 0 0 150px;
    padding: var(--size-padding-10px);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.2s;
}

